.container-fluid {
  padding-left: 0;
}

.pad-right{
    padding-right: 0;
}

form {
  min-width: 200px;
}

.form-group{
    margin-bottom: 0;
}

#error-text,
#searchInput{
    display: inline-block
}

#searchInput {
  width: 80%;
}

#searchInput,
#searchBtn {
  float: left;
}

#searchBtn {
  background: #016fff;
  color: white;
  width: 40px;
}

#error-text{
    color: red;
    font-size: 14px;
}

.historyBtn{
    padding: 10px;
    width: 100%;
    text-align: left;
    background: white;
}

.historyBtn:focus{
    outline: none;
    box-shadow: none;
}

.historyBtn:active{
    border-style: none;
}

.historyBtn:hover{
    background-color: #dee2e688;
}

.weather-details{
    padding: 20px 20px;
    margin-top: 15px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
}

#city {
    font-size: 2rem;
    font-weight: bold;
}

.weather-icon,
.five-day-weather-icon{
    margin-top: -10px;
}

.weather-icon{
    height: 65px;
}

#current-uv-index{
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.five-day-label {
    font-size: 2rem;
    margin-bottom: 5px;
}

.five-day-forecast{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.five-day-forecast li{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
    background: #016fff;
    padding: 10px 30px 0px 10px;
    border-radius: 5px;
    color: white;
}

.five-day-weather-icon{
    height: 50px;
}

@media screen and (max-width:768px){
    .container-fluid {
        padding-left: 15px;
    }

    .pad-right{
        padding-right: 15px;
    }
}

